.wp-brands {
    margin-bottom: 50px;
}

.brands {
    background-color: white;
    border: 1px solid white;
}

.brands-nav {
    display: flex;
    padding-top: 10px;
}

.home-page-link {
    display: flex;
    gap: 10px;
    align-items: center;
}

.slash {
    margin-left: 10px;
    margin-right: 10px;
}

.brands-nav a {
    text-decoration: none;
    color: black;
}

.brands-hr {
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.brands-title {
    font-size: 22px;
    font-weight: 700;
    padding: 10px 0 20px 0;
}


.list-brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.wp-brand-item {
    border: 1px solid rgb(225, 225, 225);
    padding: 10px;
}

.brand-img {
    border-radius: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.brand-name {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

.pagination a:hover {
    background-color: #ddd;
}