.checkout .layout-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  font-size: 18px;
  border-bottom: 1px solid #e5e4e4;
}

.checkout .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bebebe;
  border-radius: 0.375rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0);
}

.checkout .form-control:focus {
  border-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
}