* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Be Vietnam Pro", sans-serif !important;
  font-weight: 400;
  color: #000;
}

.main-content {
  background-color: #f3f3f3;
}