.top-header {
  background: #000;
  color: #fff;
  z-index: 10;
  position: relative;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  padding: 10px 0;
}
.top-header .container {
  display: flex;
  justify-content: space-between;
}

.header-right .log-in,
.header-right .sign-in,
.header-right .log-out {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}
.header-right .log-in:hover,
.header-right .sign-in:hover,
.header-right .log-out:hover {
  text-decoration: none;
  color: red;
}
.search-input {
  width: 500px;
  height: 40px;
  padding: 0 16px;
  font-size: 14px;
  outline: none;
  border-color: transparent;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border: none;
  background: none;
  color: black;
  border-radius: 5px 0 0 5px;
}

.search-btn {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  background: #000;
  border-radius: 0 5px 5px 0;
  color: #fff;
  outline: none;
  border: none;
}

.header-action {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  column-gap: 10px;
  font-size: 12px;
  cursor: pointer;
}

.header-action i {
  font-size: 24px;
}

.count {
  position: absolute;
  width: 20px;
  height: 20px;
  display: grid;
  place-content: center;
  color: #fff;
  background-color: #c73030;
  border-radius: 50%;
  font-size: 12px;
  top: -10px;
  right: -10px;
}

.nav-bar {
  background: #000;
  color: #fff;
  z-index: 10;
  position: relative;
}

.list-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  position: relative;
}

.nav-item.item-site {
  z-index: 10;
  width: 220px;
}

.nav-item.active {
  background: #272727;
  width: 220px;
}

.nav-link {
  text-transform: uppercase;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 7px;
  line-height: normal;
  height: 40px;
  padding: 0 16px;
  justify-content: center;
}

.nav-item:hover .nav-link {
  background: #272727;
  color: #fff;
}

.nav-item .menu-content {
  display: none;
  position: absolute;
  color: #000;
  top: 100%;
  left: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: nowrap;
  background: #fff;
}

.nav-item.active .menu-content {
  display: block;
}

.nav-item:hover .menu-content {
  display: block;
}

.item-site .menu-content .menu-item {
  position: unset;
}

.menu-content .menu-item {
  position: relative;
}

.menu-item .menu-btn {
  display: flex;
  align-items: center;
  gap: 7px;
  line-height: normal;
  padding: 0 16px;
  width: 220px;
  border-bottom: 1px solid #d4d4d4;
  justify-content: space-between;
  font-size: 12px;
  text-transform: none;
  height: 36.4px;
  text-decoration: none;
  color: inherit;
}
.information {
  position: relative;
  cursor: pointer;
}

.information .menu-infor {
  display: none;
  position: absolute;
  top: 100%;
  left: 30px;
}
.menu-infor .menu-item .menu-btn {
  background-color: rgb(128, 142, 128);
  width: 150px;
  border-bottom: 1px solid #272727;
}
.information:hover .menu-infor {
  display: block;
}
